*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

 }

 /* common */
 body{
     font-family: 'Lato', sans-serif;
     background: linear-gradient(180deg, rgba(0,150,136,1) 31%, rgba(220,219,209,1) 31%);
 }
.root{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    display: flex;
    width: 75%;
    height: 95vh;
    background-color: aquamarine;
}

/* column */
.column-left, .column-right{
    height: 100%;
}
.column-left{
    width: 35%;
    border-right: 1px solid  #c2bdbdf5;
}
.column-right{
    width: 65%;
}

/* column top rows */
.row-top{
    height: 70px;
    background-color: #eaeaea;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
.user-name{
    display: inline-block;
}
.user-avatar img{
    width: 60px;
    border-radius: 100%;
    vertical-align: middle;
}

.icons-btn i{
    padding: 0 5px;
    color: #b1b1b1;
    font-size: 20px;
    cursor: pointer;
}

/* Middle part - Chat */
.chat{
    height: calc(100% - 140px);
    background-image: url("../img/mine.jpg");
    overflow-y: scroll;
}

.container-small{
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 80%;
    height: 100%;
    border-radius: 10px;
}

.sent, .received{
    width: 50%;
    margin-top: 50px;
}
.sent{
    padding-left: 30px;
}
.sent-message{
    position: relative;
    background-color: #d5f9ba;
    padding: 15px 7px;
    border-radius: 10px;
    font-size: 13px;
    margin-bottom: 10px;
}

.time-message{
    font-size: 8px;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 3px;
    color: rgb(197, 197, 197);
}
/* row bottom - input for sending message */
.row-bottom{
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 70px;
    background-color:#f3eeea;
    padding: 0 40px;
}

.row-bottom i{
    color: rgb(95, 95, 95);
}

.row-bottom input{
    width: 85%;
    padding: 15px;
    border: 0px;
    border-radius: 10px;
}