*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

 }

 /* common */
 body{
     font-family: 'Lato', sans-serif;
     background: linear-gradient(180deg, rgba(0,150,136,1) 31%, rgba(220,219,209,1) 31%);
 }
.root{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    display: flex;
    width: 75%;
    height: 95vh;
    background-color: rgb(255, 255, 255);
}

/* column */
.column-left, .column-right{
    height: 100%;
}
.column-left{
    width: 35%;
    border-right: 1px solid  #c2bdbdf5;
}
.column-right{
    width: 65%;
}

/* column top rows */
.row-top{
    height: 70px;
    background-color: #eaeaea;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
.user-name{
    display: inline-block;
}
.user-avatar img{
    width: 60px;
    border-radius: 100%;
    vertical-align: middle;
}

.icons-btn i{
    padding: 0 5px;
    color: #b1b1b1;
    font-size: 20px;
    cursor: pointer;
}
/* Column left, notification, search and contacts */
/* .container-left{
    height: calc(100% - 70px);
} */
.notification{
    height: 70px;
    background-color: #8edafc;
    padding: 15px;
}

.notification i{
    font-size: 30px;
    border-radius: 100%;
    border: 5px solid rgba(255, 255, 255, 0.226);
    color:#8edafc;
    background-color: rgba(255, 255, 255, 0.753);
    
}
.notification i, .notification span{
    vertical-align: middle;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
    cursor: pointer;
}
.notification span :first-child{
    font-size: 13px;
}
.notification span :last-child{
    font-size: 11px;
    text-decoration: underline;
}
.search{
 display: flex;
 background-color: #fafafa;
 padding: 10px;
}

.btn-search, .search input{
    height: 35px;
    background-color: white;
    border: 1px solid rgba(212, 202, 202, 0.274);
}
.search input{
    width: 85%;
    border-left: 0px;
}
.btn-search{
    position: relative;
    width: 15%;
    cursor: pointer;
}

.btn-search i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #b1b1b1;
}

/* contacts */
.contacts ul li{
    list-style: none;
    padding: 10 0px;
}
.contact{
    display: flex;
    padding: 10px;
}
.contact span {
    font-size: 15px;
}

.current-chat{
    background-color: #e9ebeb;
}

/* Middle part - Chat */
.chat{
    height: calc(100% - 140px);
    background-image: url("../img/mine.jpg");
    overflow-y: scroll;
}

.container-right{
    width: 80%;
    margin: auto;
    margin-top: 40px;
}
.sent-message{
    background-color: #d5f9ba;
    margin-left: auto;
}
.sent-message, .receved-message{
    width: 40%;
    position: relative;
    background-color: #d5f9ba;
    padding: 15px 20px;
    border-radius: 10px;
    font-size: 13px;
    margin-bottom: 10px;
}
.receved-message{   
    margin-right: auto;
    background-color: #ffffff;
}

.time-message{
    font-size: 8px;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 3px;
    color: rgb(197, 197, 197);
}
/* row bottom - input for sending message */
.row-bottom{
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 70px;
    background-color:#f3eeea;
    padding: 0 40px;
}

.row-bottom i{
    color: rgb(95, 95, 95);
}

.row-bottom input{
    width: 85%;
    padding: 15px;
    border: 0px;
    border-radius: 10px;
}